---
---

$font: "Playfair Display", "Palatino", serif

*
    position: relative
    box-sizing: border-box

body
    background: #fcfcf7
    font-family: $font
    font-size: 12pt
    margin: 0
    overflow-x: hidden

nav 
    h1
        text-align: center
        margin: 0
        padding: 0.4rem 0 0.5rem
        background: #b03040
        color: white
        font-size: 2rem
        transition: all 150ms

    h1:hover
        background: #bb4040

    a:hover, a:active
        text-decoration: none

input.search
    padding: 0.75em
    margin: 0.5em 0.6em 0
    width: calc(100vw - 1.2em)
    font-family: $font
    outline: none
    border: 1px solid #ccc

#tune-list > ul
    margin: 0
    padding: 0.5em
    
    li
        display: flex
        align-items: center
        background: white
        margin: 0.5em 0
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2)
        border-radius: 3px

    a
        flex-grow: 1
        padding: 1em

    li::after
        content: "›"
        margin: 1em
        font-family: arial
        font-weight: bold
        color: #777

.category
    font-size: 0.6em
    padding: 0.35em 0.5em 0.25em
    font-family: "Courier", "Courier New", monospace
    font-weight: bold
    border-radius: 3px
    color: white

.category.christmas
    background: #c00
.category.fiddle
    background: #47e
.category.other
    background: #888
.category.jazz
    background: #cc0
    color: black

#extra-links a
    display: block
    padding: 1em

        
#music
    display: flex
    margin: 0.75em
    justify-content: center

svg
    max-width: 740px
    overflow: visible !important

    .chord
        transform: translate(-0.2em, 0.85em)
        font-family: "Courier", "Helvetica Neue", "Arial Unicode MS",
        font-size: 18px
        text-anchor: start !important

    .chord.jazz
        transform: translate(-0.2em, 0.75em)
        font-family: "Caveat Brush", "Helvetica Neue", "Arial Unicode MS",
        font-size: 24px

    .annotation, .triplet
        font-family: $font

    .abc-lyric
        transform: translate(0.25em, 0.75em)
        font-style: italic
        font-weight: normal

    .title
        font-family: $font
        transform: translate(0, -0.25em)
        font-size: 2rem
        font-weight: bold
        text-transform: uppercase

    text.ending
        transform: translate(-0.2em, 0.75em)
        font-weight: bold

    path.ending
        transform: translate(-0.2em, -0.25em)


a
    text-decoration: none
    color: black


a:hover, a:active
    text-decoration: underline
