---
---

$font: "Playfair Display", "Palatino", serif
$font-mono: "Courier Override", "Courier", "Arial Unicode MS", monospace

*
    position: relative
    box-sizing: border-box

body
    background: #fcfcf7
    font-family: $font
    font-size: 12pt
    margin: 0
    overflow-x: hidden
    overscroll-behavior-y: none

nav 
    h1
        text-align: center
        margin: 0
        padding: 0.4rem 0 0.5rem
        background: #b03040
        color: white
        font-size: 2rem
        transition: all 150ms

    h1:hover
        background: #bb4040

    a:hover, a:active
        text-decoration: none

input.search
    padding: 0.75em
    margin: 0.5em 0.6em 0
    width: calc(100vw - 1.2em)
    font-family: $font
    outline: none
    border: 1px solid #ccc

#tune-list > ul
    margin: 0 auto
    padding: 0.5em
    max-width: 800px
    
    li
        display: flex
        align-items: center
        background: white
        margin: 0.5em 0
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2)
        border-radius: 3px
    li.txt
        border-right: 2px solid #aaa

    a
        flex-grow: 1
        padding: 1em

    li::after
        content: "›"
        margin: 1em
        font-family: arial
        font-weight: bold
        color: #777

.category
    font-size: 0.6em
    padding: 0.35em 0.5em 0.25em
    font-family: $font-mono
    font-weight: bold
    border-radius: 3px
    color: white
    background: #888

.category.christmas
    background: #2b0
.category.union
    background: #d12
.category.fiddle
    background: #47e
.category.jazz
    background: #cc0
    color: black
.category.other
    background: #888
.category.all
    background: #444

button.category
    font-size: 0.9em
    margin: 0.4em
    border: 1px solid #444
    outline: none

#extra-links a
    display: block
    padding: 1em

        
#music
    display: flex
    flex-direction: column
    max-width: 800px
    margin: 0.75em auto
    padding: 0 0.4em

    p.title
        margin: 0 0 0.25em
        font-size: 1.5em
        text-align: center
        font-weight: bold
        text-transform: uppercase
    p
        margin: 0 0 0 1em
        text-indent: -1em
        min-height: 1.5em
    .chords
        font-family: $font-mono
        font-size: 1.15em
        letter-spacing: -1px
    .chorus
        font-weight: bold
    .bridge
        font-style: italic
    .small
        font-size: 0.7em
    .spacer
        display: inline-block
        width: 1.7px

.sheet-music
    overflow: visible !important

svg
    max-width: 800px

    .abcjs-chord
        transform: translate(-0.2em, 0.85em)
        font-family: $font-mono
        font-size: 18px
        text-anchor: start !important

    .abcjs-chord.jazz
        transform: translate(-0.2em, 0.75em)
        font-family: "Caveat Brush", "Helvetica Neue", "Arial Unicode MS"
        font-size: 24px

    .annotation, .triplet
        font-family: $font

    .abcjs-lyric
        transform: translate(0.2em, 0.6em)
        font-style: italic
        font-weight: normal

    .abcjs-lyric tspan:nth-child(2)
        transform: translate(0em, 1em)

    .abcjs-title
        font-family: $font
        //transform: translate(0, -0.25em)
        font-size: 2rem
        font-weight: bold
        text-transform: uppercase

    text.abcjs-ending
        transform: translate(-0.2em, 0.4em)
        font-weight: bold

    path.abcjs-ending
        transform: translate(-0.2em, -0.15em)

svg.chords-only
    .abcjs-chord
        transform: translate(-0.2em, 2.3em)

    .abcjs-chord.jazz
        transform: translate(-0.2em, 2.2em)

a
    text-decoration: none
    color: black


a:hover, a:active
    text-decoration: underline

#buttons
    display: flex

    button
        flex-grow: 1
        margin: 0.25em
        outline: none
        padding: 0.5em
        background-color: #fff
        border: 1px solid #aaa
        border-radius: 2px
        font-size: 1.5rem
    button:active, button:hover
        background-color: #f4f4f4

button:hover
    cursor: pointer

#wrap input
    height: 20px
    width: 20px
    top: 5px

#qr
    margin: 12em 0
    text-align: center
    font-weight: bold
    text-transform: uppercase

    img
        margin: 1em auto


@media screen and (max-width: 600px)
    #music p.title
        font-size: 1.1em
    #music .chords
        font-size: 1.08em

@font-face 
    font-family: "Courier Override"
    src: url("../assets/courier.ttf")
@font-face 
    font-family: "Courier Override"
    font-weight: bold
    src: url("../assets/courier-bold.ttf")
