---
---

<section id="tune-list">
    <input class="search" placeholder="Search" />
    <ul class="list">
        {% for file in site.static_files %}
            {% assign pageurl = page.url | remove: 'index.html' %}
            {% assign tunesurl = page.url | append: 'tunes/' %}
            {% if file.path contains pageurl and file.extname == ".abc" %}
                {% assign name = file.basename | replace: '_', ' ' %}
                {% assign category = file.path | remove: file.name | remove_first: tunesurl | remove: '/' %}
                {% assign path = category | append: '/' | append: file.basename %}
                <li>
                    <a class="name" href="tune/#{{ path }}" data-path="{{ path }}">
                        {{ name | smartify }}
                    </a>
                    <span class="category {{ category }}">{{ category | upcase}}</span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</section>

<section id="extra-links">
    <b>
        <a href="http://www.ralphpatt.com/Song.html" target="_blank">
            Jazz Fakebook
        </a>
    </b>

    <b>
        <a href="https://thesession.org/tunes" target="_blank">
            Other Fiddle Tunes
        </a>
    </b>

    <i>
        <a href="http://prose.io/#CoryMcCartan/music/tree/master/tunes" target="_blank">
            Edit Tunes
        </a>
    </i>
</section>

<script src="{{ site.baseurl }}/js/main.js"></script>
